button{
    background-color: rgb(32, 152, 200);
    padding: 10px;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    gap: 12px;
    font-size: large;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game{
    background-color: beige;
    /* display:inline-block; */
    padding-left: 650px;
    padding-top: 10px;
    padding-bottom: 180px;
    /* padding-right: 100px; */
    margin-top: 250px;
    border-radius: 25px;
    /* margin-left: 350px; */
}
*{
    background-color: beige
}